<ion-header no-border>
  <ion-navbar class="navbar" color="main">
    <ion-title>{{ title }}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (tap)="presentActionSheet()">
        <ion-icon name="more"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content [ngClass]="{'no-scroll': !((menu)) }">
  <ion-list-header>
    Best Sellers
  </ion-list-header>
  <content-placeholder [count]="2"></content-placeholder>
  <ion-grid [virtualScroll]="bestsellers" approxItemHeight="40px" *ngIf="bestsellers && bestsellers.length > 0">
    <ion-row>
      <ion-col *virtualItem="let bestseller" col-6>
        <ion-card>
          <img [src]="defaultLogo" />
          <ion-card-content>
            <ion-card-title>
              Item
            </ion-card-title>
            <span class="price">
              <span>P 50.00</span>
            </span>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list-header>
    Other Meals
    <button ion-button color="ternary" item-end outline (tap)="viewAll()">View All</button>
  </ion-list-header>
  <content-placeholder [count]="2" *ngIf="!(menu)"></content-placeholder>
  <ion-grid [virtualScroll]="menu | slice:0:4" approxItemHeight="40px">
    <ion-row>
      <ion-col *ngIf="(menu)?.length === 0">
        <h1 class="heading" text-center>No Available Items</h1>
      </ion-col>
      <ion-col *virtualItem="let item" col-6>
        <ion-card>
          <div class="img-container">
            <img-loader useImg></img-loader>
          </div>
          <ion-card-content>
            <ion-card-title text-wrap *ngIf="item.Variant === ''">
              {{ item.Name }}
            </ion-card-title>
            <ion-card-title text-wrap *ngIf="item.Variant !== ''">
              {{ item.Name }} ({{ item.Variant }})
            </ion-card-title>
            <span class="price">
              <span>P {{ item.Price }}.00</span>
            </span>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
