<ion-header no-border>
  <ion-navbar class="navbar" color="main">
    <ion-title>{{ title }}</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar (ionInput)="search($event)" placeholder="Search Meal" debounce="700">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content [ngClass]="{'no-scroll': !(menu) }" padding>
  <content-placeholder [count]="6" *ngIf="!(menu)"></content-placeholder>
  <ion-grid class="menu" [virtualScroll]="createRow(menu)">
    <ion-row>
      <ion-col *ngIf="(menu)?.length === 0">
        <h1 class="empty-page" text-center>No Available Items</h1>
      </ion-col>
    </ion-row>
    <ion-row *virtualItem="let row" approxItemHeight="240px">
      <ion-col col-6 *ngFor="let item of menu | slice:(row*2):(row+1)*2">
        <ion-card>
          <div class="img-container">
            <img-loader useImg></img-loader>
          </div>
          <ion-card-content>
            <ion-card-title text-wrap *ngIf="item.Variant === ''">
              {{ item.Name }}
            </ion-card-title>
            <ion-card-title text-wrap *ngIf="item.Variant !== ''">
              {{ item.Name }} ({{ item.Variant }})
            </ion-card-title>
            <span class="price">
              <span>P {{ item.Price }}.00</span>
            </span>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
