<ion-header>
  <ion-navbar color="main">
    <ion-title>{{pageTitle}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngIf="(menu | async)?.length === 0">
        <h1 class="heading" text-center>No Available Items</h1>
      </ion-col>
      <ion-col *ngFor="let item of menu | async;" col-6>
        <ion-card>
          <img src="assets/budget-meal.png"/>
          <ion-card-content>
            <ion-card-title *ngIf="item.Variant != ''">
              {{ item.Name }} ({{ item.Variant }})
            </ion-card-title>
            <ion-card-title *ngIf="item.Variant == ''">
              {{ item.Name }}
            </ion-card-title>
            <span class="price">
              <span>P {{ item.Price }}.00</span>
            </span>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
