page-settings {
  ion-list:last-of-type {
    margin-bottom: 0px;
  }
  .item-md ion-avatar[item-start] {
    margin-right: 10px;
  }
  .item-md ion-avatar ion-img,
  .item-md ion-avatar img {
    width: 52px;
    height: 52px;
  }
  .item-md h2 {
    font-family: 'Museo Sans Rounded 900';
    font-size: 1.1em;
  }
  .item-md p {
    font-size: 0.98em;
  }
  .list-md,
  .list-header-md {
    font-size: 1.2em;
    margin-bottom: 0px;
  }
  .list-md+ion-list ion-list-header {
    margin-top: 0px;
  }
  ion-list>.item-md{
    font-size: 1.1em;
  }
  ion-list>.item-md.item-block:nth-child(4) .item-inner {
    border-bottom: 0px;
  }
  .logout-container {
    margin: 10px 16px 10px 16px;
  }

  .logout-container{
    .button-md{
      font-size: 1.28em;
      padding: 25px 16px;
    }
  }
}
