page-featured {
  /** TOOL BAR **/
  .toolbar-md {
    min-height: 32px;
    padding: 8px 12px;
  }
  /** NAV BAR **/
  .navbar {
    min-height: 56px;
  }
  /** SEGMENT **/
  .segment-md .segment-button {
    border: 1px solid color($colors, main);
    font-family: "Museo Sans Rounded 700";
    font-size: 1.4rem;
    opacity: 1.0;
    text-transform: capitalize;
  }
  .segment-md .segment-button:first-child {
    border-radius: 8px 0px 0px 8px;
    border-right: none; // border-left: 1px solid color($colors, main);
  }
  .segment-md .segment-button:last-child {
    border-left: none;
    border-radius: 0px 8px 8px 0px;
  }
  .toolbar .segment-md .segment-button.activated,
  .toolbar .segment-md .segment-button.segment-activated {
    background-color: color($colors, main);
    border: 1px solid color($colors, main);
    color: white;
  }
  /** FEATURED ITEMS **/
  ion-list>.item.item-block.item-md {
    padding-left: 0px;
    border-bottom: 0.55px solid #c8c7cc;
  } //Restaurant Name
  .item-md h2 {
    font-family: "Museo Sans Rounded 700";
    font-size: 1.8rem;
  }
  .item img{
    width: 50px;
    height: 50px;
  }
  .item-md.item-block .item-inner {
    border-bottom: 0px;
  }
  .item-start {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .numbering {
    box-sizing: content-box;
    color: black;
    font-family: "Museo Sans Rounded 300";
    font-size: 13.5px;
    padding: 0px 8px;
    text-align: center;
    width: 20px;
  }
}
