<ion-header no-border>
  <ion-navbar class="navbar" color="main">
    <ion-title>Featured</ion-title>
  </ion-navbar>
  <ion-toolbar>
    <ion-segment color="main" [(ngModel)]="featured">
      <ion-segment-button value="Hot">
        Hot
      </ion-segment-button>
      <ion-segment-button value="New">
        New
      </ion-segment-button>
      <ion-segment-button value="Upvotes">
        Upvotes
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>

<ion-content>
  <div [ngSwitch]="featured" class="featured">
    <list-content-placeholder [count]="10" *ngIf="!hotList && !newList && !upvotesList"></list-content-placeholder>
    <ion-list *ngSwitchCase="'Hot'">
      <button ion-item *ngFor="let restaurant of hotList; let i = index;" detail-none>
        <div class="item-start" item-start>
          <div class="numbering">{{i+1}}</div>
          <ion-avatar>
            <img-loader [src]="restaurant.logo" useImg></img-loader>
          </ion-avatar>
        </div>
        <h2>{{restaurant.name}}</h2>
      </button>
    </ion-list>
    <ion-list *ngSwitchCase="'New'">
      <button ion-item *ngFor="let restaurant of newList; let i = index;" detail-none>
        <div class="item-start" item-start>
          <div class="numbering">{{i+1}}</div>
          <ion-avatar>
            <img-loader [src]="restaurant.logo" useImg></img-loader>
          </ion-avatar>
        </div>
        <h2>{{restaurant.name}}</h2>
      </button>
    </ion-list>
    <ion-list *ngSwitchCase="'Upvotes'">
      <button ion-item *ngFor="let restaurant of upvotesList; let i = index;" detail-none>
        <div class="item-start" item-start>
          <div class="numbering">{{i+1}}</div>
          <ion-avatar>
            <img-loader [src]="restaurant.logo" useImg></img-loader>
          </ion-avatar>
        </div>
        <h2>{{restaurant.name}}</h2>

        <ion-badge color="secondary" item-end>
          <ion-icon name="thumbs-up"></ion-icon>
          {{restaurant.upvotes}}
        </ion-badge>
      </button>
    </ion-list>
  </div>
</ion-content>
