// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/

$text-color:        #000;
$background-color:  #fff;


// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.


$colors: (
  primary: #eb5b52,
  secondary: #f5b02f,
  ternary: #01b89a,
  danger: #f53d3d,
  light: #f4f4f4,
  dark: #222,
  main: #352b6a,
);



// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

$searchbar-ios-background-color:  #352b6a;
$tabs-ios-tab-icon-color-active:  #F08A83;
$tabs-ios-tab-color-inactive:     #232323;

$range-ios-bar-active-background-color: #66c6fe;
$range-ios-bar-background-color: #3f4c53;


$card-ios-margin-top: 0px;
$card-ios-margin-bottom: 3px;
$card-ios-margin-left: 0px;
$card-ios-margin-right: 0px;

$segment-button-ios-border-radius: 8px;
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
