@font-face {
  font-family: 'Museo Sans Rounded 300';
  src: url($font-path + '/MuseoSansRounded-300.otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Rounded 500';
  src: url($font-path + '/MuseoSansRounded-500.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Rounded 700';
  src: url($font-path + '/MuseoSansRounded-700.otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Rounded 900';
  src: url($font-path + '/MuseoSansRounded-900.otf');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Museo Sans Rounded 1000';
  src: url($font-path + '/MuseoSansRounded-1000.otf');
  font-weight: 1000;
  font-style: normal;
}

* {
  font-family: "Museo Sans Rounded 500";
}


.toolbar-md.navbar{
  padding: 0px !important;
  min-height: 64px !important;
}

//Center Nav Bar Title
.toolbar-title-md {
  font-family: "Museo Sans Rounded 700";
  text-align: center;
}

.card-md{
  width: calc(100% - 8px);
  height: calc(100% - 16px);
  border-radius: 0.4em;
}

.card-title-md {
  font-family: "Museo Sans Rounded 700";
  font-size: 1.3em;
  padding-top: 0px;
  padding-bottom: 0px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card-content-md {
  padding: 8px 12px;
}
/* CARD IMAGE BORDER */
.card-md img {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/* CARD BADGE */
.card-md .resto-details {
  color: color($colors, primary);
  font-family: "Museo Sans Rounded 700";
}

.card-md .resto-details ion-badge {
  font-size: 0.7em;
  margin-top: 5px;
}

/* CARD PRICE */
.price {
  color: color($colors, ternary);
  font-family: "Museo Sans Rounded 300";
  font-size: 0.98em;
}

.row .col{
  padding: 0px;
}

.row > .col:nth-child(1) .card-md{
  margin: 0px 8px 16px 0px;
}

.row > .col:nth-child(2) .card-md{
  margin: 0px 0px 16px 8px;
}

.row:first-child > .col .card-md{
}

ion-app.md [padding] .scroll-content{
  padding-bottom: 0px;
}

/** ICONS **/
ion-icon {
  &[class*="grubie-"] {
    mask-size: contain;
    mask-position: 50% 50%;
    mask-repeat: no-repeat;
    background: currentColor;
    min-width: 1em;
    min-height: 1em;
  }

  //Featured Icon
  &[class*="grubie-featured"] {
    mask-image: url(../assets/flame.svg);
  }

  //Search Icon
  &[class*="grubie-search"] {
    mask-image: url(../assets/search.svg);
  }

  //Budget Icon
  &[class*="grubie-budget"] {
    mask-image: url(../assets/budget.svg);
  }

  //Menu Icon
  &[class*="grubie-menu"] {
    mask-image: url(../assets/menu.svg);
  }

  //Settings Icon
  &[class*="grubie-settings"] {
    mask-image: url(../assets/settings.svg);
  }
}


.no-scroll .scroll-content {
  overflow: hidden;
}





.button-md {
  text-transform: capitalize;
}

[class="toolbar toolbar-md"] {
  background: #f8f8f8;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

// .dot {
//   content: "\B7";
// }

// .img-container {
//   background-color: #e8e6e9;
//   position: relative;
//   // padding-top: 100%;
//   // width: 100%;
//   overflow: hidden;
//   border-bottom: 1px solid rgba(0, 0, 0, 0.15);
// }

// .img-container img {
//   position: absolute;
//   top: 0;
//   left: 0;
//   bottom: 0;
//   right: 0;
// }

// @keyframes placeHolderShimmer {
//   0% {
//     background-position: -468px 0
//   }
//   100% {
//     background-position: 468px 0
//   }
// }

// .content-placeholder {
//   animation-duration: 1s;
//   animation-fill-mode: forwards;
//   animation-iteration-count: infinite;
//   animation-name: placeHolderShimmer;
//   animation-timing-function: linear;
//   background: #e8e6e9;
//   background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
//   background-size: 800px 104px;
//   border-radius: 0px;
//   height: 100%;
// }








// ion-badge {
//   min-width: 5.2em;
// }


