page-budget {
  .budget {
    font-family: 'Museo Sans Rounded 900';
    font-size: 3.2rem;
    margin: 0px;
  }
  .heading {
    font-family: 'Museo Sans Rounded 1000';
    font-size: 2.3em;
  }
  .budget-illustration {
    padding: 10px 75px;
  }
  .range-ios {
    padding: 0px 33px 25px 33px;
  }
  .range-slider {
    margin-top: -12px;
    .range-knob-handle {
      margin-top: -15px;
    }
    .range-knob {
      // background-color: #66c6fe;
    }
    .range-bar {
      // background-color: #99d9ff;
      // background-color: #66c6fe;
      border: 5px solid black;
      border-radius: 15px;
      box-sizing: content-box;
      height: 15px;
    }
    .range-knob {
      border: 5px solid black;
      box-sizing: content-box;
    }
  }
  ion-grid {
    height: 100%;
    justify-content: center;
  }
}
