page-budget {
  .scroll-content {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .centered {
    max-width: 100%;
  }
  .budget {
    font-family: 'Museo Sans Rounded 900';
    font-size: 2.0em;
    letter-spacing: -2px;
    margin: 0px;
  }
  .heading {
    font-family: 'Museo Sans Rounded 1000';
    font-size: 2.7em;
    line-height: 42px;
    margin-bottom: 0px;
  }
  h2 {
    margin: 2px 0px;
  }
  .budget-illustration img {
    max-height: 130px;
  }
  .budget-illustration {
    padding: 8px 0px;
  }
  .range-ios,
  .range-md {
    padding: 15px 50px;
  }
  .range-md .range-knob,
  .range-md .range-knob-min.range-knob-min .range-knob {
    background-color: white;
    border: 5px solid black;
    width: 28px;
    height: 28px;
    -webkit-transform: none;
    transform: none;
  }
  .range-slider {
    margin-top: -30px;
  }
  .range-slider .range-knob {
    border: 5px solid black;
    box-sizing: content-box;
  }
  .range-slider .range-bar {
    border: 5px solid black;
    box-sizing: content-box;
    height: 15px;
  }
  .range-bar .range-bar-active {
    border-radius: 0px;
  }
  [class="range-bar"] {
    border-radius: 15px;
  }
  ion-grid {
    height: 100%;
    justify-content: center;
  }
  .button-round-md {
    font-size: 1.28em;
    padding: 25px 40px;
  }
  .navbar {
    min-height: 64px !important;
  }
}
