page-search {
  //Search bar
  .toolbar .searchbar-md{
    padding: 10px;
  }
  .searchbar-md .searchbar-input {
    padding: 6px 41px;
  }



  /** TAB TOOL BAR **/
  .toolbar-md {
    min-height: 32px;
    padding: 8px 12px;
  }
  .segment-md .segment-button {
    border: 1px solid color($colors, main);
    font-family: "Museo Sans Rounded 700";
    font-size: 1.4rem;
    opacity: 1.0;
    text-transform: capitalize;
  }
  .segment-md .segment-button:first-child {
    border-radius: 8px 0px 0px 8px;
    border-right: none; // border-left: 1px solid color($colors, main);
  }
  .segment-md .segment-button:last-child {
    border-left: none;
    border-radius: 0px 8px 8px 0px;
  }

  .segment-md-main .segment-button.activated, .segment-md-main .segment-button.segment-activated > .badge-md{
    background-color: white !important;
    color: color($colors, main);
  }

  .toolbar .segment-md .segment-button.activated,
  .toolbar .segment-md .segment-button.segment-activated {
    background-color: color($colors, main);
    border: 1px solid color($colors, main);
    color: white;
  }

  .card-md{
    margin: 16px;
    width: calc(100% - 32px);
  }

  //Restaurant Address
  .address {
    font-family: "Museo Sans Rounded 500";
    white-space: wrap;
    max-height: 33px;
  }


  //Price
  .extra-info {
    border-top: 1px solid lightgray;
    span {
      font-family: "Museo Sans Rounded 500";
      font-size: 0.8em;
    }
    ion-badge {
      font-family: "Museo Sans Rounded 500";
    }
  }

  //Category
  .badge-md{
    background-color: color($colors, main);
    color: white;
    font-family: "Museo Sans Rounded 900";
    min-width: 0px;
    margin-left: 5px;
    border-radius: 100px;
  }

  .container {
    display: flex; // <-- This is responsible for vertical alignment
    justify-content: center;
    height: calc(100vh - 112px);
  }

  //BLANK STATES
  .empty-state {
    margin: auto 5px; // <-- This is responsible for vertical alignment
    text-align: center;
  }
  .empty-state img {
    max-height: 150px;
  }
  .empty-state h1 {
    font-family: 'Museo Sans Rounded 900';
    font-size: 2.1em;
  }
  .empty-state h2 {
    font-size: 1.5em;
    text-align: center;
  }

  //Extras
  .text-bold {
    font-family: "Museo Sans Rounded 900";
  }
  .text-italic {
    font-style: italic;
    font-weight: 500;
  }

  .remove-tabs .scroll-content {
    margin-bottom: 0px !important;
  }
}
