page-search {
  .extra-info {
    border-top: 1px solid lightgray;
  }
  .result-card {
    margin-bottom: 20px;
  }
  .text-bold {
    font-weight: bold;
  }

  .text-italic{
    font-style: italic;
    font-weight: 500;
  }
}
