<ion-header no-border>
  <ion-toolbar color="main">
    <ion-searchbar #searchbar (ionInput)="search($event)" placeholder="Search for a Restaurant or Meal" debounce="700" color="main">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content [ngClass]="{'remove-tabs': tabs.checkKeyboard() }">
  <div class="container" *ngIf="!searchTerm">
    <div class="empty-state" padding>
      <img src="assets/shop.png">
      <h2>Find your favorite restaurants
        <br> and meals on the fly!</h2>
    </div>
  </div>

  <ng-container *ngIf="searchTerm">
    <ion-card *ngFor="let restaurant of restaurants | async" class="result-card">
      <ion-item>
        <ion-avatar item-start>
          <img-loader [src]="restaurant.url" useImg></img-loader>
        </ion-avatar>
        <h2 class="text-bold">{{restaurant.name}}</h2>
        <p class="address">{{restaurant.address}}</p>
      </ion-item>
      <ion-item class="extra-info">
        <span color="ternary" ion-text item-start>P10.00 - P50.00</span>
        <ion-badge color="main" item-end>{{restaurant.category}}</ion-badge>
      </ion-item>
    </ion-card>
  </ng-container>

  <div class="container" *ngIf="(restaurants | async)?.length === 0 && searchTerm">
    <div class="empty-state" padding>
      <img src="assets/trolley.png">
      <h2>Oops! No match found for the search term.</h2>
    </div>
  </div>
</ion-content>
