<ion-header no-border>
  <ion-navbar class="navbar" color="main">
    <ion-title>Menu</ion-title>
  </ion-navbar>
</ion-header>
<ion-content [ngClass]="{'no-scroll': !restaurants}" padding>
  <ion-refresher color="primary" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh">
    </ion-refresher-content>
  </ion-refresher>
  <content-placeholder [count]="6" *ngIf="!restaurants"></content-placeholder>
  <ion-grid *ngIf="restaurants" [virtualScroll]="createRow(restaurants)">
    <ion-row *virtualItem="let row" approxItemHeight="200px">
      <ion-col col-6 *ngFor="let restaurant of restaurants | slice:(row*2):(row+1)*2">
        <ion-card (tap)="select(restaurant)">
          <div class="img-container">
            <img-loader [src]="restaurant.url" useImg></img-loader>
          </div>
          <ion-card-content>
            <ion-card-title>
              {{ restaurant.name }}
            </ion-card-title>
            <div class="resto-details">
              <ion-badge>
                <ion-icon name="flame"></ion-icon>
                <span>Hot #3</span>
              </ion-badge>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
