<ion-header>
  <ion-navbar color="main">
    <ion-title>Menu</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor="let restaurant of restaurants | async">
        <ion-card (tap)="select(restaurant)">
          <img [src]="restaurant.url" />
          <ion-card-content>
            <ion-card-title>
              {{ restaurant.name }}
            </ion-card-title>
            <span class="resto-details">
             <ion-icon name="flame"></ion-icon>
              <span>Hot #3</span>
            </span>
            <span class="resto-details">
              &bull;
            </span>
            <span class="resto-details">
             <ion-icon name="flame"></ion-icon>
              <span>New #3</span>
            </span>
            <span class="resto-details" *ngIf="restaurant.upvotesRank > 0">
              &bull;
            </span>
            <span class="resto-details" *ngIf="restaurant.upvotesRank > 0">
             <ion-icon name="flame"></ion-icon>
              <span>Upvotes #{{ restaurant.upvotesRank }}</span>
            </span>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
